.sobre {
  margin-top: 6rem;
}

.sobre__titulo {
  margin-bottom: 1rem;
}

.sobre__div-flex {
  display: flex;
  justify-content: space-between;
}

.sobre__texto {
  font-family: "Roboto Mono", monospace;
  max-width: 800px;
  padding-right: 1rem;
  position: relative;
  /* border-bottom: 5px solid var(--shadow-black);
  border-right: 5px solid var(--shadow-black); */
}

.sobre__texto::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 5px;
  top: 20px;
  right: -50px;
  transform: rotate(45deg);
  margin-left: 1rem;
  background-color: var(--color-secondary);
  box-shadow: 0.5rem 0.5rem var(--color-secondary),
    1rem 1rem var(--color-secondary), 1.5rem 1.5rem var(--color-secondary),
    2rem 2rem var(--color-secondary), 2.5rem 2.5rem var(--color-secondary),
    3rem 3rem var(--color-secondary), 3.5rem 3.5rem var(--color-secondary),
    4rem 4rem var(--color-secondary), 4.5rem 4.5rem var(--color-secondary),
    5rem 5rem var(--color-secondary), 5.5rem 5.5rem var(--color-secondary),
    6rem 6rem var(--color-secondary), 6.5rem 6.5rem var(--color-secondary),
    7rem 7rem var(--color-secondary), 7.5rem 7.5rem var(--color-secondary),
    8rem 8rem var(--color-secondary), 8.5rem 8.5rem var(--color-secondary),
    9rem 9rem var(--color-secondary), 9.5rem 9.5rem var(--color-secondary),
    10rem 10rem var(--color-secondary), 10.5rem 10.5rem var(--color-secondary),
    11rem 11rem var(--color-secondary);
}

.sobre__texto p {
  margin-bottom: 1rem;
}

.sobre__redes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sobre__redes-linkedin,
.sobre__redes-github,
.sobre__redes-cv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--color-primary);
  padding: 0 0.5rem;
  padding-top: 0.5rem;
  transition: 0.3s;
}

.sobre__redes-linkedin::after {
  content: url(../../img/icon/linkedin.png);
}

.sobre__redes-github::after {
  content: url(../../img/icon/github.png);
}

.sobre__redes-cv::after {
  content: url(../../img/icon/cv.png);
}

@media (min-width: 1100px) {
  .sobre__redes-linkedin:hover,
  .sobre__redes-github:hover,
  .sobre__redes-cv:hover {
    background-color: var(--color-secondary);
    color: var(--text-color-dark);
    box-shadow: 13px 13px var(--shadow-black);
  }
}

@media (max-width: 1100px) {
  .sobre__titulo {
    font-size: 3rem;
  }

  .sobre__texto {
    font-size: 1rem;
  }

  .sobre__redes {
    font-size: 2rem;
    margin-left: 1rem;
  }

  .sobre__texto::after {
    display: none;
  }
}

@media (max-width: 768px) {
  .sobre {
    margin-top: 4rem;
  }

  .sobre__div-flex {
    display: block;
  }

  .sobre__texto {
    margin-bottom: 2rem;
  }

  .sobre__redes {
    margin-left: 0;
  }

  .sobre__redes-linkedin,
  .sobre__redes-github,
  .sobre__redes-cv {
    max-width: 250px;
    margin-bottom: 2rem;
  }
}
