.header__img {
  background-color: var(--color-secondary);
  height: 6rem;
  clip-path: ellipse(90% 100% at 30% 0%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  background-color: var(--shadow-black);
  height: 80px;
  width: 180px;
}

.header__logo-logo {
  text-align: center;
  margin-top: 0.5rem;
}

.header__nav-lista {
  display: flex;
  gap: 2rem;
}

.header__nav-lista a {
  transition: 0.3s;
  position: relative;
}

.header__nav-lista a::after {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background-color: var(--shadow-black);
  right: 50%;
  margin-top: 2px;
  transition: 0.4s;
  position: absolute;
}

.header__nav-lista a:hover::after {
  width: 50%;
}

.header__nav-lista a::before {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background-color: var(--shadow-black);
  top: 39px;
  left: 50%;
  transition: 0.4s;
  position: absolute;
}

.header__nav-lista a:hover::before {
  width: 50%;
}


